<div class="row valign-wrapper" style="margin-bottom: 10px;">
    <div class="col s12">
             {{email}}

    </div>
    {{!-- <ul>
        <li> --}}

            

        {{!-- </li>
    </ul> --}}
</div>