<div class="container">
    <div>
        <h1 class="display-4 text-center">Contact Us</h1>
        <ul>
            <li>
                <h4>Github</h4>
                <p>If you have a question related to our App, please contact us on Github </p>
                <a class="grey-text text-3" href="https://github.com/tonycrosby-tech/Project_2">
                    <h5>Github Repo</h5>
                </a>
            </li>

        </ul>
    </div>
</div>