<div class="spacer"></div>

<div div class='container'>
    <h1 class='center'>About</h1>
    <hr>
    <h6 class='center'>
        Welcome to the about page
    </h6>
    <br>
    <center>
        This is a new social media site where you can say whatever you want, within KU guidelines.
    </center>
    <br>
    <center>
        Creat Post Now by clicking this link =» <b style="color: red;"><a href="/forum/posts">here</a></b>
    </center>
    <br>
    <center>
        Begin by clicking on the Forum tab or you can start now by clicking this link =» <b style="color: red;"><a
                href="/forum">here</a></b>
    </center>
</div>