<div div class='container'>
    <h6>
        Welcome to the about page, {{email}}
    </h6>

    <p1>
        This is a new social media site where you can say whatever you want, within KU guidelines. Create a post now.
    </p1>


    <p1>
        Begin by clicking on the Forum tab.
    </p1>
</div>