<div class="spacer"></div>

<div div class='container'>
    <h3 class='center'>
        Welcome to the about page, <b style='color:red;'>{{email}}</b>
    </h3>
    <hr>

    <p1>
        This is a new social media site where you can say whatever you want, within KU guidelines. Create a post now.
    </p1>


    <p1>
        Begin by clicking on the Forum tab.
    </p1>

    <center>
        or you can start now by clicking this link =» <b style="color: red;"><a href="/forum">here</a></b>
    </center>
</div>