<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr>
                <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt <b style="color: red;"> {{ userEmail }}
                    </b>-
                    This is where the magic Happens!
                </td>
            </tr>
        </tbody>
    </table>

    <div class="spacer"></div>

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat center">
                    <b>» Books</b>
                </td>
            </tr>
        </thead>
    </table>
    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr align="center">
                <td class="thead">&nbsp;</td>
                <td class="thead" width="100%" align="left">Posts</td>
                <td class="thead" width="200">Last Post</td>
                <td class="thead">Replies</td>
                <td class="thead">View Count</td>
            </tr>
            <tr align="center">
                <td class="alt2"></td>
                <td class="alt1Active" align="left" id="f87">
                    <div>
                        <a href="#"><strong>Thread title goes here</strong></a>
                        <div class="smallfont">
                            <span style="cursor:pointer">created by: username</span>
                        </div>
                    </div>
                </td>
                <td class="alt2">
                    <div class="smallfont" align="left">
                        <div>
                            <span style="white-space:nowrap">
                                <a href="#" style="white-space:nowrap" title="Insert Title Here"><strong>Title goes
                                        here</strong></a>
                            </span>
                        </div>
                        <div style="white-space:nowrap">
                            by: <a href="#" rel="nofollow">username/email</a>
                        </div>
                        <div align="left" style="white-space:nowrap">
                            Date /<span class="time"> Time</span>
                        </div>
                    </div>
                </td>
                <td alt="Post Count" class="alt2">0</td>
                <td alt="View Count" class="alt1">0</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="category-content">
        <a href="/posts"><button class='category-button' id='new-post'>Create New
                Post</button></a>
    </div>
</div>