<div class="main container row">
    <div id="" class="col m12">
        <h3>Welcome <b style="color: red;"> {{ userEmail }} </b></h3>
        <br>
        <br>
        <h5>Create Posts</h5>
        <hr>
        <br>
        <form>
            <h6>Select Categories:</h6>
            <select id="myCategories">
                <option value="" disabled selected>Categories</option>
                {{#each categories}}
                    <option value = "{{id}}"> {{ this.name }} </option>
                {{/each}}
            </select>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="usersPosting"  placeholder="Write your post here" class="materialize-textarea"></textarea>
                    <label for="textareaPost">Write your post here</label>
                </div>
            </div>
        </form>
        <button class="btn waves-effect waves-light create-post" id="createPost">Create</button>
        <button class="btn waves-effect waves-light filter-search" id="side-search">Search post</button>
    </div>
</div>

    <script src="js/forum.js"></script>
