<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <thead>
            <tr>
                <td colspan="3" class="tcat center">
                    <b>» General Content</b>
                </td>
            </tr>
        </thead>
    </table>
    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr align="center">
                <td class="thead">&nbsp;</td>
                <td class="thead" width="100%" align="left">Forums</td>
            </tr>
            <tr align="center">
                <td class="alt2"></td>
                <td class="alt1Active" align="left" id="f87">
                    <div>
                        <a href="/forum/category/sports">Sports</a>
                        <div class="smallfont">
                            <span style="cursor:pointer">created by: Admin</span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr align="center">
                <td class="alt2"></td>
                <td class="alt1Active" align="left" id="f87">
                    <div>
                        <a href="/forum/category/movies">Movies</a>
                        <div class="smallfont">
                            <span style="cursor:pointer">created by: Admin</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr align="center">
                <td class="alt2"></td>
                <td class="alt1Active" align="left" id="f87">
                    <div>
                        <a href="/forum/category/books">Books</a>
                        <div class="smallfont">
                            <span style="cursor:pointer">created by: Admin</span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr align="center">
                <td class="alt2"></td>
                <td class="alt1Active" align="left" id="f87">
                    <div>
                        <a href="/forum/category/other">Other</a>
                        <div class="smallfont">
                            <span style="cursor:pointer">created by: Admin</span>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="category-content">
        {{!-- <a href="/forum/category"><button class='category-button' id='new-category'>Create
                New Category</button></a> --}}
        <a href="/forum/posts"><button class='category-button' align-right='auto' id='new-post'>Create
                New
                Post</button></a>
    </div>
</div>

<script src="js/forum.js"></script>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel">
    function tick() {
        const element = (
            <div>
                <b>Current Time: </b>
                <b>{new Date().toLocaleTimeString()}.</b>
                <b> (CST)</b>
            </div>
        );
        // highlight-next-line
        ReactDOM.render(element, document.getElementById("root"));
    }
    setInterval(tick, 1000);
</script>