<div class='container'>
    <div>
        <h1 class='display-4 center'>Contact Us</h1>
        <h6>
            Welcome to the help page, {{email}}
        </h6>
        <ul>
            <li>
                <h4>Github</h4>
                <p>If you have a question related to our App, please contact us on Github in the Link section down below. </p>
            </li>

        </ul>
    </div>
</div>