<div class="spacer"></div>

<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
    <tbody>
        <tr>
            <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt <b style="color: red;"> {{ userEmail }} </b>-
                This is where the magic Happens!
            </td>
        </tr>
        <tr>
            <td class="alt1" colspan="6">
                <center>
                    WhatChaMaCallIt is a brand new forum! :)
                    <br><br>Threads: {{ categories }}, Posts: {{ posts }}, Members: {{ users }}
                    <br><br>
                    If you have a complaint, feedback, or an issue, then please contact us on github by clicking this
                    link: <a rel="nofollow" href="https://github.com/tonycrosby-tech/Project_2">
                        <font color="blue"><b>Contact us</b></font>
                    </a>
                </center>
            </td>
        </tr>
    </tbody>
</table>

<div class="spacer"></div>

<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
    <thead>
        <tr>
            <td colspan="3" class="tcat center">
                <b>General Content</b>
            </td>
        </tr>
    </thead>
</table>
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
    <tbody>
        <tr align="center">
            <td class="thead">&nbsp;</td>
            <td class="thead" width="100%" align="left">Forums</td>
            <td class="thead" width="200">Last Post</td>
            <td class="thead">Threads</td>
            <td class="thead">Posts</td>
        </tr>
        <tr align="center">
            <td class="alt2"></td>
            <td class="alt1Active" align="left" id="f87">
                <div>
                    <a href="#"><strong>Topic Goes here</strong></a>
                    <div class="smallfont">
                        <span style="cursor:pointer">created by: username goes here</span>
                    </div>
                </div>
            </td>
            <td class="alt2">
                <div class="smallfont" align="left">
                    <div>
                        <span style="white-space:nowrap">
                            <a href="#" style="white-space:nowrap" title="Insert Title Here"><strong>Title goes
                                    here</strong></a>
                        </span>
                    </div>
                    <div style="white-space:nowrap">
                        by: <a href="#" rel="nofollow">username/email</a>
                    </div>
                    <div align="left" style="white-space:nowrap">
                        Date /<span class="time"> Time</span>
                    </div>
                </div>
            </td>
            <td alt="Thread Count" class="alt1">0</td>
            <td alt="Post Count" class="alt2">0</td>
        </tr>

        <tr align="center">
            <td class="alt2"></td>
            <td class="alt1Active" align="left" id="f87">
                <div>
                    <a href="#"><strong>Topic Goes here</strong></a>
                    <div class="smallfont">
                        <span style="cursor:pointer">created by: username goes here</span>
                    </div>
                </div>
            </td>
            <td class="alt2">
                <div class="smallfont" align="left">
                    <div>
                        <span style="white-space:nowrap">
                            <a href="#" style="white-space:nowrap" title="Insert Title Here"><strong>Title goes
                                    here</strong></a>
                        </span>
                    </div>
                    <div style="white-space:nowrap">
                        by: <a href="#" rel="nofollow">username/email</a>
                    </div>
                    <div align="left" style="white-space:nowrap">
                        Date /<span class="time"> Time</span>
                    </div>
                </div>
            </td>
            <td alt="Thread Count" class="alt1">0</td>
            <td alt="Post Count" class="alt2">0</td>
        </tr>
        <tr align="center">
            <td class="alt2"></td>
            <td class="alt1Active" align="left" id="f87">
                <div>
                    <a href="#"><strong>Topic Goes here</strong></a>
                    <div class="smallfont">
                        <span style="cursor:pointer">created by: username goes here</span>
                    </div>
                </div>
            </td>
            <td class="alt2">
                <div class="smallfont" align="left">
                    <div>
                        <span style="white-space:nowrap">
                            <a href="#" style="white-space:nowrap" title="Insert Title Here"><strong>Title goes
                                    here</strong></a>
                        </span>
                    </div>
                    <div style="white-space:nowrap">
                        by: <a href="#" rel="nofollow">username/email</a>
                    </div>
                    <div align="left" style="white-space:nowrap">
                        Date /<span class="time"> Time</span>
                    </div>
                </div>
            </td>
            <td alt="Thread Count" class="alt1">0</td>
            <td alt="Post Count" class="alt2">0</td>
        </tr>

        <tr align="center">
            <td class="alt2"></td>
            <td class="alt1Active" align="left" id="f87">
                <div>
                    <a href="#"><strong>Topic Goes here</strong></a>
                    <div class="smallfont">
                        <span style="cursor:pointer">created by: username goes here</span>
                    </div>
                </div>
            </td>
            <td class="alt2">
                <div class="smallfont" align="left">
                    <div>
                        <span style="white-space:nowrap">
                            <a href="#" style="white-space:nowrap" title="Insert Title Here"><strong>Title goes
                                    here</strong></a>
                        </span>
                    </div>
                    <div style="white-space:nowrap">
                        by: <a href="#" rel="nofollow">username/email</a>
                    </div>
                    <div align="left" style="white-space:nowrap">
                        Date /<span class="time"> Time</span>
                    </div>
                </div>
            </td>
            <td alt="Thread Count" class="alt1">0</td>
            <td alt="Post Count" class="alt2">0</td>
        </tr>
    </tbody>
</table>

<div class="spacer"></div>