<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
                <tbody>
                    <tr>
                        <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt - Where Anything Goes.
                        </td>
                    </tr>
                    <tr>
                        <td class="alt1" colspan="6">
                            <center>
                                WhatChaMaCallIt is a brand new forum! :)
                                <br><br>Threads: {{ categories }}, Posts: {{ posts }}, Members: {{ users }}
                                <br><br>
                                If you have a complaint, feedback, or an issue, then send us an email: <a rel="nofollow"
                                    href="mailto:tonycrosby96@gmail.com">
                                    <font color="grey"><b>Contact us on Github</b></font>
                                </a>
                                <br><br>
                                You must <a href="/"><b>
                                        <font color="red">Register</font>
                                    </b></a> an account before you can post, or see any advanced
                                features or content.
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>