<div class="spacer"></div>

<div class="container">

    <table class="tborder center" cellpadding="6" cellspacing="1" border="0" width="100%">
        <tbody>
            <tr>
                <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt <b style="color: red;"> {{ userEmail }}
                    </b>-
                    This is where the magic Happens!
                </td>
            </tr>
        </tbody>
    </table>

    <div class="spacer"></div>

    <div class="post-setup" style="padding: 0px 0px 6px 0px">
        <br />

        <table class="tborder center" cellpadding="6" cellspacing="1" border="0" width="100%">
            <thead>
                <tr>
                    <td colspan="3" class="tcat center">
                        <strong>Post Category here</strong>
                    </td>
                </tr>
            </thead>
        </table>

        <table id="post-id" class="tborder center" cellpadding="6" cellspacing="1" border="0" width="100%">
            <tbody>
                <tr>
                    <td class="thead" style="font-weight: normal">
                        DATE/TIME
                    </td>
                    <td class="alt1">
                        Post Title Here
                    </td>
                </tr>
                <tr valign="top">
                    <td class="alt2" width="200">
                        <div id="user-profile">
                            <center>
                                <a class="bigusername" rel="nofollow" href="#">username</a>
                            </center>
                        </div>
                        <div class="smallfont">
                            <br />
                            <center>
                                <img src="https://via.placeholder.com/150" alt="user's Avatar" border="1"
                                    title="user's Avatar" />
                            </center>
                        </div>
                    </td>
                    <td class="alt1" id="post_message">

                        <div id="post_message">
                            post message here
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>