<div class="spacer"></div>

<div class="container">

    <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
        <tbody>
            <tr>
                <td class="tcat center" colspan="6">Welcome to WhatChaMaCallIt <b style="color: red;"> {{ userEmail }}
                    </b>-
                    This is where the magic Happens!
                </td>
            </tr>
            <tr>
                <td class="alt1" colspan="6">
                    <center>
                        WhatChaMaCallIt is a brand new forum! :)

                        <br><br>
                        If you have a complaint, feedback, or an issue, then please contact us on github by clicking
                        this
                        link: <a rel="nofollow" href="https://github.com/tonycrosby-tech/Project_2">
                            <font color="blue"><b>Contact us</b></font>
                        </a>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="spacer"></div>

    <div style="padding-bottom:15px">
        <table align="center" border="0" cellpadding="6" cellspacing="1" class="tborder" width="100%">
            <thead>
                <tr>
                    <td class="tcat" colspan="0">
                        <span class="smallfont"><strong>» <a href="#">Search
                                    Forums</a></strong></span>
                    </td>
                </tr>
            </thead>
            <tbody id="search-input">
                <tr>
                    <td class="alt2">
                        <input class="bginput" name="query" size="13" type="text"> <input type="submit" class="button"
                            value="Go">
                        <div class="smallfont">» <a href="#">Advanced Search</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5 class='center'>Results</h5>
    <hr>
</div>